<div class="jumbotron">
    <h1>postalcodefinder</h1>
    <p class="lead">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
    <p>@Html.ActionLink("Learn more >", "Index", "Help", new { area = "" }, null)</p>
</div>
<div class="row text-center">
    <h2>Meet the team</h2>
    <p>We are awesome!</p>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3 polaroid-wrapper">
        <div class="polaroid first">
            <img src="http://placehold.it/150x150" />
            <div class="name">Andy</div>
        </div>
    </div>  
    <div class="col-xs-6 col-md-3 polaroid-wrapper">
        <div class="polaroid second">
            <img src="http://placehold.it/150x150" />
            <div class="name">James</div>
        </div>
    </div>  
    <div class="col-xs-6 col-md-3 polaroid-wrapper">
        <div class="polaroid third">
            <img src="http://placehold.it/150x150" />
            <div class="name">Martin</div>
        </div>
    </div>  
    <div class="col-xs-6 col-md-3 polaroid-wrapper">
        <div class="polaroid fourth">
            <img src="http://placehold.it/150x150" />
            <div class="name">Missy</div>
        </div>
    </div>  
</div>
